/* .tournamentListItemContainer {
    border: 1px solid black;
    width: 100%;
    height: 100px;
    background: white;
    display: flex;
    justify-content: center;
    box-shadow: 5px 10px #888888;
}

.tournamentListItem_left {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.tournamentListItem_right {
    width: 20%;
} */

.MuiTypography-body1-74 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
}