.TournamentPair-container {
    display: flex;
    width: 50%;
    height: 3em;
    outline: 1px solid black;
}
.TournamentPair-player-box,
.TournamentPair-player-box-winner,
.TournamentPair-player-box-loser,
.TournamentPair-player-box-assigned {
    width: 40%;
    display:flex;
    justify-content:center;
    align-items:center;
}
/* .TournamentPair-player-box-assigned { */
    /* background: lightblue; */
/* } */
.TournamentPair-player-box-winner {
    font-weight: bold;
}
.TournamentPair-player-box-loser {
    opacity: 0.5;
}
.TournamentPair-score-box {
    flex-grow: 1;
    width: 10%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    background: lightgrey;
    outline: 1px solid black;
}
