.TournamentPair-container {
    display: flex;
    width: 50%;
    height: 2em;
}
.TournamentPair-player-box,
.TournamentPair-player-box-winner,
.TournamentPair-player-box-loser {
    width: 40%;
    display:flex;
    justify-content:center;
    align-items:center;
    outline: 1px solid black;
}
.TournamentPair-player-box-winner {
    background: lightgreen;
}
.TournamentPair-player-box-loser {
    background: lightcoral;
}
.TournamentPair-score-box-after {
    flex-grow: 1;
    width: 10%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    background: lightgrey;
    outline: 1px solid black;
}
