.tournamentInfo-Header {
	width: 100%;
	color: #fff;
	background: linear-gradient(-45deg, rgb(228, 238, 82), rgb(98, 223, 135), #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	display: block;
	text-align: center;
	margin-top: 10px,
	font-sizee
}
.tournamentInfo-top-row{
	display: flex;
	justify-content: flex-end;
}

.tournamentInfo-container {
	display: block;
	align-items: center;
	text-align: center;
	font-size: 10px;
}

.tournamentInfo-h1 {
	text-align: center;
	margin-top: 25px;
}

.tournamentInfo-h2 {
    margin-bottom: 0px;
    text-align: left;
}

.tournamentInfo-name {
	margin-top: 0px;
	font-size: 15px;
}

.tournamentInfo-image {
    margin: 15px;
    border-radius: 10%;
	width: 40%;
	max-height: 30%;
}

.tournamentInfo-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
	padding: 10px;
	box-sizing: border-box;
	background-color: rgb(33, 248, 61)
}

.tournamentInfo-data {
    width: 50%
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
    }
    
}
@media screen and (min-width: 760px) {
	.tournamentInfo-container {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	.tournamentInfo-info, .tournament-data {
		height: 100%;
		width: 50%;
	
    }
    
    .tournamentInfo-image{
		width: 30%;

    }
}