.tournamentInfo-Header {
	width: 100%;
	color: #fff;
	background: linear-gradient(-45deg, rgb(228, 238, 82), rgb(98, 223, 135), #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	display: block;

}
.tournamentInfo-top-row{
	display: flex;
	justify-content: flex-end;
}

.Info-button{
	background-color: rgb(117, 74, 169);
	padding: 2px;
	font-size: 15px;
	border: 0px;
	border-radius: 10%;

}
.Info-button a{
	text-decoration: none;
}
/* unvisited link */
.Info-button a:link {
	color: white;
}

/* visited link */
.Info-button a:visited {
    color: orange;
}

/* mouse over link */
.Info-button a:hover {
    color: white;
}

/* selected link */
a:active {
    color: rgb(255, 0, 217)190, 190, 255);
}

.Info-button:hover{
	background-color: #23A6D5;
}

.tournamentInfo-container {
	display: block;
	align-items: center;
	text-align: center;
	font-size: 10px;
}

.tournamentInfo-h1 {
	text-align: center;
	margin-top: 25px;
}

.tournamentInfo-h2 {
    margin-bottom: 0px;
    text-align: left;
}

.tournamentInfo-name {
	margin-top: 0px;
	font-size: 15px;
}

.tournamentInfo-image {
    margin: 15px;
    border-radius: 10%;
	width: 40%;
	max-height: 30%;
}

.tournamentInfo-info {
    display: flex;
    justify-content: space-between;
	padding: 10px;
	box-sizing: border-box;
	background-color: rgb(33, 248, 61);
	text-align: start;
}

.tournamentInfo-data {
   padding-right: 20px; 
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
    }
    
}
@media screen and (min-width: 760px) {
	.tournamentInfo-container {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
	.tournamentInfo-info, .tournament-data {
	
		width: 50%;
		font-size: 25px;
	
	}
	

    
    .tournamentInfo-image{
		width: 30%;

	}
	
	.Info-button button{
		background-color: rgb(117, 74, 169);
		padding: 5px;
		font-size: 25px;
		font-weight: bold;
		border: 0px;
		border-radius: 10%;
	
	}
}