/* .list {
display: flex;
justify-content: space-between;
background-color: lightblue;
padding: 10px;
width: 80%;
outline: 1px solid black;
}
.name {
    margin-left: 20px;
    font-size: 18px;
    width: 150px;
}

.ulList {
    padding: 0px;
} */