.HomeInfo-Header{
	width: 100%;
	color: #fff;
	background: linear-gradient(-45deg, rgb(228, 238, 82), rgb(98, 223, 135), #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
    display: block;
	text-align: center;
}
.HomeInfo-H1{
	margin-top: 0px;
}

.HomeInfo-Top{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
}


.image-container{
    display: flex;
    justify-content: space-between;
    }
    
    .image-hand-left{
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 8;
    
    }
    
    .image-hand-right{
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 8;
    }


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
