.AddPlayer {
display: flex;
justify-content: space-between;
background-color: lightgreen;
width: 46%;
margin-left: 40px;
outline: 1px solid black;
padding: 20px;
}
.AddPlayer-name {
font-size: 18px;
}